body {
  background-color: #173e43;
}

.judul {
  text-align: center;
  background-color: #099aad;
  width: 400px;
  border-radius: 30px;
}

.text-cl-darkblue {
  color: rgb(15, 15, 52);
}

.text-cl-grey {
  color: grey;
}

.text-cl-lightgrey {
  color: lightgrey;
}

.text-cl-white {
  color: white;
}

p {
  line-height: 1.5;
}

#main {
  width: auto;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
}

.space {
  background-color: #173e43;
  width: 1160px;
  height: 50px;
}

.center-text {
  text-align: center;
}

.courier-new {
  font-family: 'Courier New', Courier, monospace;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.text-color-white {
  color: white;
}

.container {
  margin: auto;
  width: 1160px;
  height: 550px;
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 30px;
}

.col-left {
  float: left;
  width: 500px;
  margin-top: 5px;
}

.col-right {
  float: left;
  width: 580px;
  margin-left: 20px;
  margin-top: 5px;
}

img {
  border-radius: 25px;
}

#footer {
  color: white;
  font-weight: bold;
  width: 1160px;
  height: 100px;
  background-color: #173e43;
  display: flex;
  justify-content: center;
  align-items: center;
}
